@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&family=Lato&family=Lexend:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply scroll-smooth bg-primary font-lato text-secondary antialiased dark:bg-secondary dark:text-primary;
  }
}

@layer utilities {
  .h-dynamic {
    height: calc(100vh - 5rem);
  }
  .p-dynamic {
    padding: calc((100vw + 5rem) / 21);
  }
  .px-dynamic {
    padding-right: calc((100vw + 5rem) / 21);
    padding-left: calc((100vw + 5rem) / 21);
  }
  .py-dynamic {
    padding-top: calc((100vw + 5rem) / 21);
    padding-bottom: calc((100vw + 5rem) / 21);
  }
  .pt-dynamic {
    padding-top: calc((100vw + 5rem) / 21);
  }
  .pb-dynamic {
    padding-bottom: calc((100vw + 5rem) / 21);
  }
  .m-dynamic {
    margin: calc((100vw + 5rem) / 21);
  }
  .mx-dynamic {
    margin-right: calc((100vw + 5rem) / 21);
    margin-left: calc((100vw + 5rem) / 21);
  }
  .my-dynamic {
    margin-top: calc((100vw + 5rem) / 21);
    margin-bottom: calc((100vw + 5rem) / 21);
  }
  .mt-dynamic {
    margin-top: calc((100vw + 5rem) / 21);
  }
  .mb-dynamic {
    margin-bottom: calc((100vw + 5rem) / 21);
  }
  .shadow-b {
    box-shadow: 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }
  .bg-landing-light {
    background: radial-gradient(208.33% 121.31% at 14.48% 71.78%, #e63d3f 10.94%, #c0015d 89.58%);
  }
  .bg-landing-dark {
    background: #170440;
  }
  .bg-color-welcome-light {
    @apply bg-red-500;
  }
  .animate-pause {
    animation-play-state: paused;
  }
  .landing-text-light {
    background-color: pink;
    color: transparent;
    text-shadow: 4px 4px 2px #6FEEFF, 3px 3px 3px pink;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px #FFFFFF;
  }
  .landing-text-dark {
    background-color: pink;
    color: transparent;
    text-shadow: 4px 4px 2px #D80034, 3px 3px 3px pink;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px #E44A9E;
  }
  


}

.link {
  @apply border-b border-secondary-500 text-secondary transition-colors duration-300 hover:border-secondary-300 dark:border-primary-400 dark:text-primary dark:hover:border-primary-300;
}
